## Lingua franca for tabular data in python

<img src="https://s3-ap-south-1.amazonaws.com/av-blog-media/wp-content/uploads/2018/03/pandas.jpg">

### Typical syntax

In [2]:
import pandas as pd
my_data = {"A": range(10), "B": range(10,20)}
df = pd.DataFrame(my_data)
df.head()

   A   B
0  0  10
1  1  11
2  2  12
3  3  13
4  4  14

### What it does well

##### pandas is well suited for many different kinds of data:

- Tabular data with heterogeneously-typed columns, as in an SQL table or Excel spreadsheet
- Ordered and unordered (not necessarily fixed-frequency) time series data.
- Arbitrary matrix data (homogeneously typed or heterogeneous) with row and column labels
- Any other form of observational / statistical data sets. The data actually need not be labeled at all to be placed into a pandas data structure

> source: https://pandas.pydata.org/pandas-docs/stable/getting_started/overview.html

## Let's

<img src="https://s3-ap-south-1.amazonaws.com/av-blog-media/wp-content/uploads/2019/05/import-data.png" >

In [25]:
%%HTML
<style>

.CodeMirror {
    width: 100vw;
}

.container {
    width: 99% !important;
}

.rendered_html {
  font-size:0.8em;
}
.rendered_html table, .rendered_html th, .rendered_html tr, .rendered_html td {
     font-size: 120%;
}

</style>

## Der er mange fil-formater som kan læses af Pandas

| Format Type 	| Data Description     	| Reader         	| Writer       	|
|-------------	|----------------------	|----------------	|--------------	|
| text        	| CSV                  	| read_csv       	| to_csv       	|
| text        	| JSON                 	| read_json      	| to_json      	|
| text        	| HTML                 	| read_html      	| to_html      	|
| text        	| Local clipboard      	| read_clipboard 	| to_clipboard 	|
| binary      	| MS Excel             	| read_excel     	| to_excel     	|
| binary      	| HDF5 Format          	| read_hdf       	| to_hdf       	|
| binary      	| Feather Format       	| read_feather   	| to_feather   	|
| binary      	| Parquet Format       	| read_parquet   	| to_parquet   	|
| binary      	| Msgpack              	| read_msgpack   	| to_msgpack   	|
| binary      	| Stata                	| read_stata     	| to_stata     	|
| binary      	| SAS                  	| read_sas       	|              	|
| binary      	| Python Pickle Format 	| read_pickle    	| to_pickle    	|
| SQL         	| SQL                  	| read_sql       	| to_sql       	|
| SQL         	| Google Big Query     	| read_gbq       	| to_gbq       	|

## Lad os starte med .csv

<img src="https://images.ctfassets.net/3n0fku9d0jjr/1caC38kuhK8WusWKQGIeAO/6a35483a56960b0ff258e5c6acb9c0d7/csv-autofetch.svg" width="400">

.CSV (Comma Seperated Values) is the most used flat data storage format by far.

In [4]:
data = ('a,b,c,d\n'
        '1,2,3,4\n'
        '5,6,7,8\n'
        '9,10,11')
print(data)

a,b,c,d
1,2,3,4
5,6,7,8
9,10,11

## Lad os prøve at indlæse data med pandas

<img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQUiOxY_r1IEB9SsyXwW-WpV6Ir2F3cCAg2m9qt2oKD0KaZxmsu">

In [5]:
from pandas.compat import StringIO
import pandas as pd
pd.read_csv(StringIO(data))

   a   b   c    d
0  1   2   3  4.0
1  5   6   7  8.0
2  9  10  11  NaN

## Some tricks to ease the pain of irregular data

In [11]:
data = ('# empty\n'
        '# second empty line\n'
        '# third emptyline\n'
        '1,2,3\n'
        'A,B,C\n'
        '1,2.,4.\n'
        '5.,NaN,10.0\n')

pd.read_csv(StringIO(data), comment='#', skiprows=3, header=1)

     A    B     C
0  1.0  2.0   4.0
1  5.0  NaN  10.0

## Binær data

In [23]:
data = ('a,b,c\n'
        '1,Yes,2\n'
        '3,No,4')

pd.read_csv(StringIO(data), true_values=['Yes'], false_values=['No'])

   a      b  c
0  1   True  2
1  3  False  4

## Date-time indlæsning

In [24]:
data = ('a,b,c\n'
        '2019/01/20,Yes,2\n'
        '2019/01/21,No,4')

In [25]:
pd.read_csv(StringIO(data))

            a    b  c
0  2019/01/20  Yes  2
1  2019/01/21   No  4

In [26]:
pd.read_csv(StringIO(data), parse_dates=[0])

           a    b  c
0 2019-01-20  Yes  2
1 2019-01-21   No  4

## Exercise

## Data cleaning at load

One of the most common mistakes seen from proffesionals working with data is that they do not utilize the cleaning capabilities of their loading framework.

###### Adding a few arguments to your load statement will save hours down the line

###### It also has the added benefit of tidying your [ETL pipeline](https://en.wikipedia.org/wiki/Extract,_transform,_load) drastically.


## Exercise 0.1

 - play around with the arguments for `pd.read_csv`
 - `pd.read_csv(path, argument1 = x, argument2 = y)`
 - look at the arguments `true_values,false_values=["FALSE"], comment="#", parse_dates=[0]` 


![](https://miro.medium.com/max/882/1*eVZyKIcUXOfzPrMTGx7yVw.png)