## Data cleaning at load

One of the most common mistakes seen from proffesionals working with data is that they do not utilize the cleaning capabilities of their loading framework.

###### Adding a few arguments to your load statement will save hours down the line

###### It also has the added benefit of tidying your [ETL pipeline](https://en.wikipedia.org/wiki/Extract,_transform,_load) drastically.


## Exercise 0.1

 - play around with the arguments for `pd.read_csv`
 - `pd.read_csv(path, argument1 = x, argument2 = y)`
 - look at the arguments `true_values,false_values=["FALSE"], comment="#", parse_dates=[0]` 


![](https://miro.medium.com/max/882/1*eVZyKIcUXOfzPrMTGx7yVw.png)

In [1]:
import pandas as pd
path = "../data/exercise.csv"
df = pd.read_csv(path)
df.head()

         Date Logical Integer   Real         Factor
0       #NNAA   #NNAA   #NNAA  #NNAA          #NNAA
1       #NNAA   #NNAA   #NNAA  #NNAA          #NNAA
2  01/01/2013    TRUE      74  67.64  Washington.DC
3  01/02/2013   FALSE      32  52.42         Denver
4  01/03/2013    TRUE      20  52.42        Atlanta

In [2]:
df.dtypes

Date       object
Logical    object
Integer    object
Real       object
Factor     object
dtype: object

In [ ]:
## Your code

#### Try to end up with only 2 columns of type `object`

Why is the column `Logical` of type object?