### DBSCAN on danish housing coordinates


1. Visualize the given data
2. Try to cluster the points with $\epsilon= \frac{1}{11}$

Experiment with different values of $\epsilon$ and vizulaize the outcome, note the development of the cluster `-1`

<img src="https://upload.wikimedia.org/wikipedia/commons/thumb/a/af/DBSCAN-Illustration.svg/800px-DBSCAN-Illustration.svg.png" width="700">

In [15]:
import pandas as pd
import plotly.express as px
import plotly.graph_objects as go
import plotly.io as pio
pio.templates.default = "none"
from sklearn.cluster import DBSCAN
import numpy as np

df = pd.read_csv("../data/coords.csv").drop("Unnamed: 0",axis=1)
df.head()

    latitude  longitude
0  55.627007  12.615040
1  55.756940  12.417048
2  55.434616  10.382822
3  56.870552   9.913871
4  55.246010  10.466332